body{background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  height: 100vh;
}

video{
  width: 100vw;
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100vh;
}

.typing-demo {
  color:#fff;
  width: 28ch;
  animation: typing 10s steps(28), blink 1s step-end infinite alternate;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#moreFields, .minus-btn{
  background-color: unset;
  border: unset;
}

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

h1{
  margin-bottom: 10%;
  font-size: 3em;
}

#submit{
  transform: translateY(42px);
}

#readroot{
  align-items: center;
  justify-content: center;
  transform: translateX(-23px);
  margin-top: 15px;
}